footer.footer
    .footer__basement
        .footer__basement-title © 2019 “Московский городской фонд обязательного медицинского страхования”
        .footer__basement-application
            .footer__basement-application-img 
                img(src="../img/footer/heart.svg", alt="")
            .footer__basement-application-img 
                img(src="../img/footer/trapezoid.svg", alt="")
            .footer__basement-application-img 
                img(src="../img/footer/app.svg", alt="")
            .footer__basement-application-img 
                img(src="../img/footer/google.svg", alt="")