header.header 
    .conent__item 
        .message
            .message__item
                img(src="/img/message/Vector.svg", alt="")
            .message__item
                img(src="/img/message/Vector (1).svg", alt="")
            .message__item
                img(src="/img/message/Vector (2).svg", alt="")
            .message__item
                img(src="/img/message/Vector (3).svg", alt="")
            .message__item
                img(src="/img/message/Vector (4).svg", alt="")
            .message__item
                img(src="/img/message/Vector (5).svg", alt="")
            .message__item
                img(src="/img/message/Vector (6).svg", alt="")
            .message__item
                img(src="/img/message/Vector (7).svg", alt="")
            .message__item
                img(src="/img/message/Vector (8).svg", alt="")
        .page__content
            .pege__content
                .page__content-text Профиль подопечного
                .page__content-text-icon 
                    img(src="/img/page__content-text-ikon.png", alt="")
            .page__content-item 
                .page__content-icon П
            .page__content-item-text
                    .page__content-item-text1 Добро пожаловать,
                    .page__content-title-text2 Пользователь Пользователевич    