.menu
    .logo
        .logo__img
            img(src="img/logo.png")
        .logo__text МГФОМС
    nav.nav__menu
        ul.menu__list
            li.menu__item
                img(src="img/arrow-right.png", alt="")
                a.menu__link(href="")  Главная

            li.menu__item
                a.menu__link(href="")  Мои услуги
            li.menu__item
                a.menu__link(href="")  Календарь
            li.menu__item
                a.menu__link(href="")  Мое лечение
            li.menu__item
                a.menu__link(href="")  Дневник здоровья
            li.menu__item
                a.menu__link(href="")  Мои лекарства
            li.menu__item
                a.menu__link(href="")  Женское здоровье
                    .circle1
                    .stipple1
            li.menu__item
                a.menu__link(href="")  Беременность
                    .s2
                    .circle2
                    .stipple2
            li.menu__item
                a.menu__link(href="")  Женский календарь
                    .s3
                    .circle3
                    .stipple3
            li.menu__item
                a.menu__link(href="")  OnlineDoc
                    .circle__l1
                    .s4
                    .circle4
                    .stipple4
            li.menu__item
                a.menu__link(href="")  Профиль 1
                    .circle__l2
                    .s5
                    .stipple5
            li.menu__item
                a.menu__link(href="")  Профиль 2
                    .circle__l3
                    .s6
            li.menu__item
                a.menu__link(href="")  Заявление на полис
            li.menu__item
                a.menu__link(href="")  Запись к врачу