.mobile__menu
    .mobile__menu-header
        .logo__menu-header
            img(src="img/logo.png", alt="")
            .logo__menu-textheader МГФОМС
        .close  
            span
            span
    .mobile__menu-menu
        ul.menu__list-mobile
            li.menu__item
                //- img(src="img/arrow-right.png", alt="")
                a.menu__link(href="")  Главная
            li.menu__item
                a.menu__link(href="")  Мои услуги
            li.menu__item
                a.menu__link(href="")  Календарь
            li.menu__item
                a.menu__link(href="")  Мое лечение
            li.menu__item
                a.menu__link(href="")  Дневник здоровья
            li.menu__item
                a.menu__link(href="")  Мои лекарства
            li.menu__item
                a.menu__link(href="")  Женское здоровье
            li.menu__item
                a.menu__link(href="")  Беременность
            li.menu__item
                a.menu__link(href="")  Заявление на полис
            li.menu__item
                a.menu__link(href="")  Запись к врачу
            li.menu__item
                a.menu__link(href="")  Мои контакты
            li.menu__item
                a.menu__link(href="")  Расскажи о себе врачу
    .menu__mobile-footer-img
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile1.svg", alt="")
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile2.svg", alt="")
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile3.svg", alt="")
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile4.svg", alt="")
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile5.svg", alt="")
        .menu__mobile-footer-img-menu
            img(src="../img/footer__mobile/footer__mobile6.svg", alt="")