.services
    .services__title
        .services__subtitle Мои услуги
        .services__subtitle-img
            img(src="../img/sign.png", alt="")
    .provision
        .rendering__title 
            .rendering__text Оказанные услуги
        .help__title 
            .help__text Услуги скорой помощи
        .region__title 
            .region__text Услуги в других регионах
        .provision__mobile
            .rendering__title-mobile 
                .renderingimg__img-left
                    img(src="../img/rendering__mobile/rendering__left.png", alt="")
                .rendering__text-mobile Оказанные услуги
                .renderingimg__img-right
                    img(src="../img/rendering__mobile/rendering__right.png", alt="")
        .search
            .search__key Поиск:
            .search__input
                input(name="s" placeholder="Поиск по совпадениям" type="search")
            
    .infotmation 
        .refractometry
            .refractometry__item 
                .refractometry__icon P
            .refractometry__block
                .refractometry__title 
                    .refractometry__data 21.07.2019
                    .refractometry__text Рефрактометрия (поликлинический уровень)
                    .refractometry__subtitle
                        .data
                            .data-title Стоимость:
                            .data-title-mobile Стоимость:
                            .data-subtitle 64,34 ₽
                            .data-subtitle-mobile 64,34 ₽
                        .data
                            .data-title Медицинская организация:
                            .data-title-mobile Мед. организация:
                            .data-subtitle ГП N 64
                            .data-subtitle-mobile ГП N 64
                .refractometry__service Услуга оказана
            .refractometry__arrow 
                img(src="/img/littel-arrow.png", alt="")
        //- 2 
        .refractometry.refractometry-blue 
            .refractometry__item 
                .refractometry__icon П
            .refractometry__block
                .refractometry__title 
                    .refractometry__data 21.07.2019
                    .refractometry__text Прием врача-терапевта участкового лечебно-диагностический, первичный, амб.
                    .refractometry__subtitle
                        .data
                            .data-title Стоимость:
                            .data-title-mobile Стоимость:
                            .data-subtitle 64,34 ₽
                            .data-subtitle-mobile 64,34 ₽
                        .data
                            .data-title Медицинская организация:
                            .data-title-mobile Мед. организация:
                            .data-subtitle ГП N 64
                            .data-subtitle-mobile ГП N 64
                .refractometry__service Услуга оказана
            .refractometry__arrow 
                img(src="/img/littel-arrow.png", alt="")
        //- 3
        .refractometry.refractometry-purple.refractometry__red
            .refractometry__item 
                .refractometry__icon O
            .refractometry__block
                .refractometry__title 
                    .refractometry__data 21.07.2019
                    .refractometry__text Офтальмоскопия под мидриазом (поликлинический уровень)
                    .refractometry__subtitle
                        .data
                            .data-title Стоимость:
                            .data-title-mobile Стоимость:
                            .data-subtitle 64,34 ₽
                            .data-subtitle-mobile 64,34 ₽
                        .data
                            .data-title Медицинская организация:
                            .data-title-mobile Мед. организация:
                            .data-subtitle ГП N 64
                            .data-subtitle-mobile ГП N 64
                .refractometry__service Услуга оказана
            .refractometry__arrow 
                img(src="/img/littel-arrow.png", alt="")
        //- 4
        .refractometry.refractometry__red.refractometry-green 
            .refractometry__item
                .refractometry__icon Р
            .refractometry__block
                .refractometry__title 
                    .refractometry__data 21.07.2019
                    .refractometry__text Определение объема аккомодации (поликлинический уровень)
                    .refractometry__subtitle
                        .data
                            .data-title Стоимость:
                            .data-title-mobile Стоимость:
                            .data-subtitle 64,34 ₽
                            .data-subtitle-mobile 64,34 ₽
                        .data
                            .data-title Медицинская организация:
                            .data-title-mobile Мед. организация:
                            .data-subtitle ГП N 64
                            .data-subtitle-mobile ГП N 64
                .refractometry__service Услуга оказана
            .refractometry__arrow 
                img(src="/img/littel-arrow.png", alt="")
        //- 5
        .refractometry.refractometry-item-blue.refractometry__service-left
            .refractometry__item 
                .refractometry__icon Р
            .refractometry__block
                .refractometry__title 
                    .refractometry__data 21.07.2019
                    .refractometry__text Биомикроскопия конъюнктивы и эписклеры переднего отрезка глаза и глубоких <br> преломляющих сред (поликлинический уровень)	
                    .refractometry__subtitle
                        .data
                            .data-title Стоимость:
                            .data-title-mobile Стоимость:
                            .data-subtitle 64,34 ₽
                            .data-subtitle-mobile 64,34 ₽
                        .data
                            .data-title Медицинская организация:
                            .data-title-mobile Мед. организация:
                            .data-subtitle ГП N 64
                            .data-subtitle-mobile ГП N 64
                .refractometry__service Подтвердить оказание услуги
            .refractometry__arrow 
                img(src="/img/littel-arrow.png", alt="")
        
    .page
        .page__title
            .data
                .data-title Всего записей:
                .data-subtitle 1000
            .data
                .data-title Найдено записей:
                .data-subtitle 10
        .page__subtitle
                .page__leaf 
                    img(src="/img/footer/page-left.png", alt="")
                .page__leaf 1
                .page__leaf 2
                .page__leaf 3
                .page__leaf 4
                .page__leaf 5
                .page__leaf
                    img(src="/img/footer/page-right.png", alt="")