html
	head
		link(rel="stylesheet" href='css/style.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		include html/menu
		
		
		.wrapper
			include html/mobile__menu
			include html/mobile__header
			include html/provision__mobile
			include html/header
			
			include html/services
			
			include html/footer
			
		
		
		
		script(src='js/app.min.js')
		