.footer{
    margin-left: 20px;
    flex: 0 1 auto;
}

.footer__basement{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__basement-title{
    font-family: 'GothamPro400';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
} 
.footer__basement-application{
    display: flex;
    align-items: center;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}