.footer{
    // margin-left: 20px;
    flex: 0 1 auto;


    padding-top: 32px;
    padding-bottom: 19px;
    // margin-top: 33px;
}

.footer__basement{
    display: flex;
    align-items: center;
    justify-content: space-between;


    // margin-bottom: 17px;
}
.footer__basement-title{
    font-family: 'GothamPro400';
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
} 
.footer__basement-application{
    display: flex;
    align-items: center;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}
.footer__basement-application-img{
    margin-left: 20px;
}