.mobile__menu{
    font-family: "GothamPro400";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 67px;
    color: #FFF;
    font-size: 16px;
    // width: 386px;
    background: linear-gradient(212.94deg, #35AD97 0%, #669AFF 100%);
    // overflow-y: auto;
    
    display: none;
    // position: ;
    width: 100%;
    height: 100%;
}
.logo__menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.12);

} 
.logo__img-mobile{

}
.logo__menu-textmobile{
    font-family: "GothamPro400";
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
} 
.mobile__menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.menu__list-mobile{
    list-style-type: none;
    
    // padding-top: 17px;
}
.menu__item{

}
.menu__link{
    text-decoration: none;
    color: inherit;
}

.menu__list-mobile .menu__item:nth-child(10){
    padding-left: 22px;
}
.menu__list-mobile .menu__item:nth-child(11),
.menu__list-mobile .menu__item:nth-child(12){
    padding-left: 29px;
}
.menu__list-mobile .menu__item:nth-child(7){
    display: flex;
}
// .circle1{
//     margin-left: -27px;
//     margin-top: -38px;
//     width: 9px;
//     height: 9px;
//     background: rgba(255, 255, 255, 0.7);
//     border-radius: 50%;
// }
// .stipple1{
    
//     padding: 0;
//     height: 0;
//     margin-top: 28px;
//     margin-left: -49px;
    
//     border-top: 2px dashed #ddd;
//     transform: rotate(90deg);
//     width: 53px;
// }
// .s2{
//     padding: 0;
//     height: 0;
//     margin-top: -31px;
//     margin-left: -19px;
//     border-top: 2px dashed #ddd;
//     width: 14px;
// }
// .circle2{
//     margin-left: -27px;
//     margin-top: -6px;
//     width: 9px;
//     height: 9px;
//     background: rgba(255, 255, 255, 0.7);
//     border-radius: 50%;
// }
// .stipple2{
//     //margin: 20px 0;
//     padding: 0;
//     height: 0;
//     margin-top: 28px;
//     margin-left: -49px;
//     //border: none;
//     border-top: 2px dashed #ddd;
//     transform: rotate(90deg);
//     width: 53px;
// }
// .s3{
//     padding: 0;
//     height: 0;
//     margin-top: -32px;
//     margin-left: -15px;
//     border-top: 2px dashed #ddd;
//     width: 13px;
// }
// .circle3{
//     margin-left: -27px;
//     margin-top: -12px;
//     width: 9px;
//     height: 9px;
//     background: rgba(255, 255, 255, 0.7);
//     border-radius: 50%;
// }
// .stipple3{
//     padding: 0;
//     height: 0;
//     margin-top: 24px;
//     margin-left: -49px;
//     border-top: 2px dashed #ddd;
//     transform: rotate(90deg);
//     width: 52px;
// }
// .circle__l1{
//     width: 5px;
//     height: 5px;
//     background: rgba(255, 255, 255, 0.7);
//     margin-top: -34px;
//     margin-left: -48px;
//     border-radius: 50%;
// }
// .s4{
//     padding: 0;
//     height: 0;
//     margin-top: -3px;
//     margin-left: -41px;
//     border-top: 2px dashed #ddd;
//     width: 13px;
// }
// .circle4{
//     margin-left: -27px;
//     margin-top: -6px;
//     width: 9px;
//     height: 9px;
//     background: rgba(255, 255, 255, 0.7);
//     border-radius: 50%;
// }
// .stipple4{
//     padding: 0;
//     height: 0;
//     margin-top: 29px;
//     margin-left: -49px;
//     border-top: 2px dashed #ddd;
//     transform: rotate(90deg);
//     width: 53px;
// }
// .circle__l2{
//     width: 5px;
//     height: 5px;
//     background: rgba(255, 255, 255, 0.7);
//     margin-top: -39px;
//     margin-left: -32px;
//     border-radius: 50%;
// }
// .s5{
//     padding: 0;
//     height: 0;
//     margin-top: -3px;
//     margin-left: -21px;
//     border-top: 2px dashed #ddd;
//     width: 13px;
// }
// .stipple5{
//     padding: 0;
//     height: 0;
//     margin-top: 31px;
//     margin-left: -56px;
//     border-top: 2px dashed #ddd;
//     transform: rotate(90deg);
//     width: 53px;
// }
// .circle__l3{
//     width: 5px;
//     height: 5px;
//     background: rgba(255, 255, 255, 0.7);
//     margin-top: -37px;
//     margin-left: -32px;
//     border-radius: 50%;
// }
// .s6{
//     padding: 0;
//     height: 0;
//     margin-top: -3px;
//     margin-left: -21px;
//     border-top: 2px dashed #ddd;
//     width: 13px;
// }
.menu__list-mobile .menu__item:nth-child(13){
    margin-top: 30px;
}




.close {
    position: relative;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    background-color: #acacac;
    cursor: pointer;
}

.close span:first-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    transform: rotate(45deg);
}

.close span:last-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    transform: rotate(-45deg);
}

.visible {
    display: block;
}
.menu__mobile-footer-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}