.mobile__menu{
    font-family: "GothamPro400";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 67px;
    color: #FFF;
    font-size: 16px;
    background: linear-gradient(212.94deg, #35AD97 0%, #669AFF 100%);
    display: none;
    width: 100%;
    height: 100%;
}
.logo__menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.12);

} 
.logo__img-mobile{

}
.logo__menu-textmobile{
    font-family: "GothamPro400";
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
} 
.mobile__menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.menu__list-mobile{
    list-style-type: none;
}
.menu__link{
    text-decoration: none;
    color: inherit;
}
.menu__list-mobile .menu__item:nth-child(10){
    padding-left: 22px;
}
.menu__list-mobile .menu__item:nth-child(11),
.menu__list-mobile .menu__item:nth-child(12){
    padding-left: 29px;
}
.menu__list-mobile .menu__item:nth-child(7){
    display: flex;
}
.menu__list-mobile .menu__item:nth-child(13){
    margin-top: 30px;
}
.close {
    position: relative;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    background-color: #acacac;
    cursor: pointer;
}

.close span:first-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    transform: rotate(45deg);
}

.close span:last-child {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    transform: rotate(-45deg);
}

.visible {
    display: block;
}
.menu__mobile-footer-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}